/* section {
  min-height: calc(100vh - 63.6px - 0.8px);
} */

@media (max-width: 550px) {
  .top .images img {
    height: 10px;
  }
  .top p {
    margin-top: 10px;
    font-size: 0.9rem;
  }
  .expiry {
    width: 100%;
    margin-bottom: 24px;
  }
  .cvv {
    width: calc(50% - 15px);
    margin-inline-end: 15px;
  }
  .form-bottom {
    flex-direction: column;
    align-items: inherit;
  }
  .form-bottom div {
    margin-bottom: 24px;
  }
}
