#plate_number_ksa_wrapper .panel-body #plate-wrapper,
#plate_number_ksa_wrapper .panel-body #plate_display_wrapper {
  direction: rtl;
}

.plate-chars-wrapper {
  box-shadow: 0 0 6px #00000040;
  border-radius: 11px;
  display: inline-block;
  padding: 10px 11px 0;
}

[dir="rtl"] #plate-chars {
  text-align: right;
}

#plate-chars {
  border: 1px solid #474747;
  border-radius: 9px;
  display: inline-block;
  padding-right: 18px;
  background-color: #f6f6f6;
  text-align: left;
}

#plate-chars table {
  border-right: 1px solid #474747;
}

table {
  background-color: transparent;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
#plate-chars tr:first-child td {
  border-bottom: 1px solid #474747;
}
#plate-chars td {
  padding: 0 8px;
  white-space: nowrap;
}
#plate-chars td span {
  height: 20px;
  width: 10px;
  margin: 3px;
  font: normal normal bold 19px / 22px Arial;
  letter-spacing: 0;
  color: #000;
  display: inline-block;
}
#plate-chars tr td:last-child {
  border-right: 1px solid #474747;
}
.path-book .form-control {
  box-shadow: unset;
  color: #000;
}
select.form-control {
  font-family: inherit;
  display: block;
  width: 100%;
  height: 34px;
  padding: 0px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #a0a0a0;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -moz-transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -ms-transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
}

@media (max-width: 511px) {
  .car-panel-selection {
    justify-content: center;
  }
  .car-panel-selection .ms-12 {
    margin: 0;
  }
  .car-panel-selection .aphla-pets-selects {
    margin: 10px 0;
  }
}
