@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "URW Geometric Arabic";
  src: url("/assets/fonts/URWGeometricThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "URW Geometric Arabic";
  src: url("/assets/fonts/URWGeometricExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "URW Geometric Arabic";
  src: url("/assets/fonts/URWGeometricLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "URW Geometric Arabic";
  src: url("/assets/fonts/URWGeometricRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "URW Geometric Arabic";
  src: url("/assets/fonts/URWGeometricMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "URW Geometric Arabic";
  src: url("/assets/fonts/URWGeometricSemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "URW Geometric Arabic";
  src: url("/assets/fonts/URWGeometricBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "URW Geometric Arabic";
  src: url("/assets/fonts/URWGeometricExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "URW Geometric Arabic";
  src: url("/assets/fonts/URWGeometricBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: #146e82;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-track {
  @apply bg-primary/5;
}
::-webkit-scrollbar-track:hover {
  @apply hover:bg-primary/10;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-xl;
}
::-webkit-scrollbar-thumb:hover {
  @apply hover:bg-primary/70;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
:root {
  min-height: 100%;
  font-family: "URW Geometric Arabic", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.PhoneInput {
  direction: ltr;
}

.PhoneInput input {
  outline: none;
  padding: 0.5rem;
  background-color: #f3f4f6;
  border-radius: 0.5rem;
}

.loader {
  position: relative;
  width: 48px;
  height: 48px;
  background: #efefef;
  transform: rotateX(65deg) rotate(45deg);
  color: #34f5c5;
  animation: layers1 1s linear infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #1dcdfe;
  animation: layerTr 1s linear infinite alternate;
}
@keyframes layers1 {
  0% {
    box-shadow: 0px 0px 0 0px;
  }
  90%,
  100% {
    box-shadow: 20px 20px 0 -4px;
  }
}
@keyframes layerTr {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(-25px, -25px) scale(1);
  }
}

.opacity-animation {
  animation: opacity-animation 1s linear infinite alternate;
}

@keyframes opacity-animation {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
